<!-- Core Beliefs Section -->
    <section id="mission-statement" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Core Beliefs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                        <img src="img/core-beliefs/prayer.png" class="img-responsive img-centered" alt="">
                    <div class="portfolio-caption">
                        <h4>God Loves You</h4>
                        <p class="text-muted">As a unique child of God, you are loved immensely by your Heavenly Father. He is the Father of your spirit. All of humanity belongs to His family. As a loving parent, He knows you, is aware of your challenges, and wants you to have a strong relationship with Him. Through prayer, you can talk to Him and He will hear you. And if you listen in return, He will provide you with answers, inspiration, and comfort.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                        <img src="img/core-beliefs/savior.png" class="img-responsive img-centered" alt="">
                    <div class="portfolio-caption">
                        <h4>Jesus Is Our Savior</h4>
                        <p class="text-muted">We all need help in life. We face trials, we have questions, and we make mistakes. This is why we need Jesus Christ. He is the Son of God and our loving Savior. His perfect example shows us the way to live. His teachings give us direction. But most importantly, He suffered and died for our sins so that we can be forgiven when we repent. Through Him, we can find lasting happiness and look forward to living again with God someday.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                        <img src="img/core-beliefs/purpose.png" class="img-responsive img-centered" alt="">
                    <div class="portfolio-caption">
                        <h4>Life Has Purpose</h4>
                        <p class="text-muted">You were born for a reason. Life can be difficult sometimes, but we are here to find happiness and help others do the same. Your Heavenly Father knew that to learn and grow and become like Him, you’d need to come to earth, receive a physical body, and have an opportunity to make choices for yourself. If we choose to follow His plan, sometimes referred to as the plan of salvation or the plan of happiness, we and our families can return to live with Him as stronger, wiser, and more compassionate versions of ourselves.</p>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-6 text-center">
                        <img src="img/core-beliefs/scriptures.png" class="img-responsive img-centered" alt="">
                    <div class="portfolio-caption">
                        <h4>The Scriptures Guide Us</h4>
                        <p class="text-muted">God’s plan centers around Jesus Christ. One of the most important ways we can learn about Jesus Christ is to study the scriptures that testify of Him. Scriptures are made up of the writings of holy prophets. God spoke to these prophets, and they wrote down His words for us to read. The scriptures include the Holy Bible, which details the earth’s creation and the lives and lessons of the Old Testament prophets. Most importantly, the Bible contains an account of Jesus Christ’s life—His teachings, His miracles, His death, and His Resurrection. The scriptures also include The Book of Mormon—a collection of writings from ancient Christians who traveled from Jerusalem to the Americas during biblical times. It isn’t always easy for us to read the scriptures, but as we make an effort to do so, God will bless us with insights and inspiration that will help us become better followers of Jesus Christ.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                        <img src="img/core-beliefs/christlike.png" class="img-responsive img-centered" alt="">
                    <div class="portfolio-caption">
                        <h4>Becoming Christlike</h4>
                        <p class="text-muted">Reading and understanding the teachings of Jesus Christ is important, but they can only bring us lasting happiness if we put them into action and behave as true Christians. We all have the capacity to be more Christlike in our thoughts and actions. As we follow His example and keep His commandments, we will experience the full blessings that come from living the Gospel of Jesus Christ. Of course, we will make mistakes, but as we repent and ask for forgiveness as He taught, we can overcome our shortcomings to become more like Jesus Christ.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                        <img src="img/core-beliefs/church.png" class="img-responsive img-centered" alt="">
                    <div class="portfolio-caption">
                        <h4>Jesus Christ’s Church</h4>
                        <p class="text-muted">Jesus Christ knew that as we followed Him, we’d need each other’s help. That’s why when He was on earth, He established His Church to provide guidance, fellowship, and support. Today, the Church of Jesus Christ exists to do the same thing. It’s how we come together to love God, obey His commandments, and serve one another—not just on Sunday, but every day. That is how we become truly happy. That is the essence of the gospel of Jesus Christ.</p>
                    </div>
                </div> -->
                <div class="col-md-4 col-sm-6 text-center">
                    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/fGCbMEmpY4g?si=V60jhi-mMVgwynOZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <h4>Because of Him</h4>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/PqervTCq9L0?si=QdqAadQ1Y-M4JmcY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <h4>Jesus Christ's Words are for You</h4>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/61j0ZZ-06aU?si=gp4UIFa8iftZ-Nmv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    
                    <h4>60 Beliefs in 60 Seconds</h4>
                </div>
            </div>
            <div class="row text-center leaders-member">
                <h4>Learn more at <a href="https://comeuntochrist.org"> ComeUntoChrist.org</a> </h4>
            </div>
        </div>
    </section>
