  <!-- Footer -->
  <footer>
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div> -->
            <div class="row">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="row">
                <span class="copyright">This is not an official website of The Church of Jesus Christ of Latter-day Saints.</span>
            </div>
            <div class="row">
                <ul class="list-inline quicklinks">
                    <li><a href="{{ "/privacy-policy.html" | relative_url }}" ><span style="color:#bbb;">Privacy Policy</span></a>
                    </li>
                    <li><a href="{{ "/terms-of-use.html" | relative_url }}" ><span style="color:#bbb;">Terms of Use</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
