<!-- Initiatives Section -->
    <section id="initiatives">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stake Initiatives</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/initiatives/livingthegospel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <h4 class="subheading">Living the Gospel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Living the gospel is more than something we do on Sundays—it is a way of life that shapes our homes, friendships, and communities every day. As a stake, we invite every member—youth, adults, and families—to find joyful ways to draw closer to the Savior through worship, learning, and service.<br>Throughout the year, we will provide opportunities for devotionals, community service, youth activities, and family-centered gatherings that strengthen faith and build unity among us. These experiences are meant to inspire connection, deepen testimony, and help us lift one another as disciples of Christ.<br>As we serve, learn, and grow together, we become a living expression of the gospel in our neighborhoods and homes. May this initiative help each of us find simple, meaningful ways to follow the Savior and bless the lives of those around us.</p>
                                    <h6>Together, we live the gospel.</h6>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/initiatives/selfreliance.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Self Reliance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">All Leaders exercise their keys in implementing these tools as they help members help themselves toward self-reliance.</p>
                                    <img src="img/initiatives/Welfare-and-Self-Reliance Toolbox-v3.png" class="img-responsive img-centered" alt=""width="320" height="180">

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/initiatives/sharingthegospel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Sharing the Gospel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sharing the gospel is a natural expression of the joy and hope we find in Jesus Christ. As we live His teachings, our words, actions, and service become a quiet invitation for others to feel His love and discover the blessings of the restored gospel.<br>As a stake, we encourage members, youth, and families to look for simple, sincere opportunities to share light—through friendship, kindness, service, and meaningful conversations. Whether welcoming someone to an activity, supporting a neighbor, or sharing personal testimony, every act of love becomes a way of sharing the gospel.</p>
                                    <h6><a href="https://www.churchofjesuschrist.org/bc/content/ldsorg/manual/13301_000_TchngSvrsWay_Web.pdf?lang=eng">Here are some useful tools that we use to share the Gospel of Jesus Christ</a></h6>
                                    <a href="https://www.churchofjesuschrist.org/bc/content/ldsorg/manual/13301_000_TchngSvrsWay_Web.pdf?lang=eng">
                                        <img src="img/initiatives/teachinginthesaviorsway.png" class="img-responsive img-centered" alt="">
                                    </a>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/initiatives/temple.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Temple and Family History</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The temple and family history work connect us to heaven and to one another across generations. As we discover our ancestors and participate in temple ordinances, we feel a deeper sense of identity, belonging, and purpose within God’s eternal family.<br>As a stake, we invite individuals and families to take part in family history discovery, indexing, temple preparation, and temple worship. Then add Stake Temple trip Calendar anda add any possible Family search link.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Start
                                    <br>Your
                                    <br>Journey</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>