<!-- Leaders Section -->
    <section id="leaders" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">First Presidency</h2>
                    <h3 class="section-subheading text-muted">Jesus Christ leads His Church through a prophet, who acts as the President of the Church, and two Apostles who are called to be the prophet’s counselors. This group is known as the First Presidency, and it is the highest governing body of the Church. <a href="https://www.churchofjesuschrist.org/learn/first-presidency" target="_blank">Find out more.</a></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.firstpresidency %}
                <div class="col-sm-4">
                    <div class="leaders-member">
                        <img src="img/leaders/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/bn_PsLrWyxM?si=BygjRpTtZ9DsYWi_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <h3 class="section-subheading text-muted"> Listen to President Dallin H. Oaks in his first devotional as<br> the prophet of The Church of Jesus Christ of Latter-day Saints. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stake Presidency</h2>
                    <h3 class="section-subheading text-muted">The stake president holds the priesthood keys to lead the work of the Church in our stake. He and his counselors form a stake presidency. They care for stake members with love, helping them become true followers of Jesus Christ.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.stakepresidency %}
                <div class="col-sm-4">
                    <div class="leaders-member">
                        <img src="img/leaders/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
        </div>
    </section>
