<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include navbar.html %}
    {% include welcome-header.html %}
    {% include leaders.html %}
    {% include congregations.html %}
    {% include core-beliefs.html %}
    {% include initiatives.html %}
    {% include testimonies.html %}
    {% include blog.html %}
    {% include carousel.html height="50" unit="%" duration="7" number="1" %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}



    </body>
</html>


