<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include mission-statement.html %}
    {% include slider_scripts.html %}
    {% include congregations.html %}
    {% include core-beliefs.html %}
    {% include testimonies.html %}
    {% include leaders.html %}
    {% include initiatives.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
